.acid {
  .row.features {
    text-align: center;
  }

  .icon-140 {
    font-size: 140px;
  }
}

#footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 30px 0;
}