  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/acid.js"></script>

    <footer id="footer">
      <div class="container">
        <address class="pull-left">
          <strong>Acid Labs & Kolorsheep</strong><br>
          Hernando de Aguirre 1301, Of. 1301<br>
          Santiago, Chile<br>
          <abbr title="Phone">Phone:</abbr> +56 2 946 2106
        </address>   

        <div class="pull-right">
          <img src="/img/acidicon.png" alt="">
          <img src="/img/kolorsheepicon.png" alt="">
        </div>
      </div>
    </footer>
  </body>
</html>